
.App-main-info {
    background-color: #3E7AF6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    text-align: start;
}

.App-main-h1 {
    font-size: 88px;
    line-height: 110px;
    margin: 28px 0 0 0;
    padding: 0;
}

.App-main-image {
    filter: invert(100%);
    height: 38px;
}

.App-main-links {
    display: flex;
}

.App-main-link-div {
    width: 200px;
    height: 54px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-right: 16px;
    margin-top: 16px;
}

p{
    margin: 0;
}

.App-main-link-text-div {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.App-main-link-text {
    font-size: 14px;
}

.App-main-link-title {
    margin-top: -5px;
    font-size: 24px;
}

.App-main-text {
    margin-top: 20px;
    font-size: 22px;
    width: 630px;
    font-style: italic;
}

.App-main-screen {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.App-main-screen-image {
    height: 630px;
}

.App-main-logo {
    height: 100px;
    margin-left: -30px;
}

.App-main-logo-text {
    font-style: italic;
    font-size: 36px;
    font-weight: 700;
    margin-left: -10px;
    margin-bottom: 10px;
}

.App-main-logo-div {
    display: flex;
    align-items: center;
}

.App-bottom {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    width: 500px;
}

.App-bottom-text {
    font-size: 20px;
}

@media only screen and (max-width: 1190px) {
    .App-main {
        padding: 0 80px 0 80px;
    }

    .App-main-screen-image {
        height: 520px;
    }
}

@media only screen and (max-width: 1285px) {
    .App-main-screen {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1070px) {
    .App-main {
        padding: 0 50px 0 50px;
    }
}

@media only screen and (max-width: 1040px) {
    .App-main-screen {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1000px) {
    .App-main-h1 {
        font-size: 66px;
        line-height: 90px;
        margin: 26px 0 0 0;
    }

    .App-main-image {
        height: 33px;
    }

    .App-main-link-div {
        width: 180px;
        height: 48px;
        padding-left: 11px;
        margin-right: 12px;
        margin-top: 14px;
    }

    .App-main-link-text {
        font-size: 11px;
    }

    .App-main-link-title {
        margin-top: -5px;
        font-size: 20px;
    }

    .App-main-text {
        margin-top: 18px;
        font-size: 18px;
        width: 500px;
        font-style: italic;
    }

    .App-main-screen-image {
        height: 500px;
    }
    
    .App-main-logo {
        height: 80px;
        margin-left: -30px;
    }
    
    .App-main-logo-text {
        font-size: 30px;
    }
    
    .App-bottom {
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
        width: 400px;
    }
    
    .App-bottom-text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 845px) {
    .App-main-screen {
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    .App-main {
        min-height: 100vh;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .App-main-info {
        background-color: #3E7AF6;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        text-align: start;
        margin: 0 4%;
    }
    
    .App-main-h1 {
        font-size: 60px;
        line-height: 80px;
        margin: 8% 0 0 0;
        padding: 0;
    }

    .App-main-text {
        margin-top: 18px;
        font-size: 18px;
        width: 100%;
        font-style: italic;
    }

    .App-bottom {
        width: 100%;
    }
}

@media only screen and (max-width: 475px) {
    .App-main {
        min-height: 100vh;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .App-main-info {
        background-color: #3E7AF6;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        text-align: start;
        margin: 0 6%;
    }
    
    .App-main-h1 {
        font-size: 56px;
        line-height: 70px;
        margin: 8% 0 0 0;
        padding: 0;
    }

    .App-main-text {
        margin-top: 18px;
        font-size: 18px;
        width: 100%;
        font-style: italic;
    }

    .App-bottom {
        width: 100%;
    }

    .App-main-links {
        display: flex;
        flex-direction: column;
    }

    .App-main-link-div {
        width: 70%;
    }

    .App-bottom {
        margin-top: 10px;
    }
    
    .App-main-logo-div {
        margin-left: 10px;
    }
}